body {
	margin: 0 0 1em 0;
	padding: 0;
	color: black;
	background-color: #eee;
	line-height: 130%;
	font-family: arial, helvetica, verdana, tahoma, sans-serif;
	text-align: center;
}

#header {
	background: #222 url("#{resource['images:banner03.jpg']}") right
		no-repeat;
	width: 85%;
	height: 125px;
	line-height: 125px;
	margin: 0 auto;
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	text-align: left;
}

#menu {
	position: relative;
 	width: 85%;
 	margin: 0 auto;
/*	font-size: 95%;
	white-space: nowrap;
	padding-right: 2px;  */
}

#menu tabMenu {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
}

#menu menubar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
}

/*
#menu {
	width: 85%;
    background: #8fb40c url("#{resource['images:menu-background.png']}") right repeat-x; 
	margin: 0 auto;
	font-size: 95%;
	white-space: nowrap;
	padding-right: 2px;	
}

#menu ul {
    list-style-type: none;
     margin: 0; 
    padding: 0;
    overflow: hidden;
    background: #98bf21 url("#{resource['images:menu-background.png']}") left repeat-x ; 
}

#menu li {
    float: left;
}

 #menu ul li a:link, #menu ul li a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background: transparent;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

 #menu ul li a:hover, #menu ul li a:active {
    background-color: #7A991A;
    }
a:link, a:visited {
	color: #260;
	text-decoration: none;
} 

a:hover
{
	color: #000;
	text-decoration: underline;
}

* html #menu { padding-right: 0; } 
*/
#content {
	width: 83%;
	margin: 0 auto;
	padding: 3.5em 1% 20px 1%;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background: white;
	font-size: 90%;
	text-align: left;
}

* html #content {
	padding-top: 1.8em;
}

#footer {
	margin: 0 auto;
	padding: 2px 1%;
	width: 83%;
	text-align: right;
	color: white;
	letter-spacing: 0.15em;
	background: #8fb40c url("#{resource['images:menu-background.png']}") top
		left repeat-x;
	border: 1px solid #a0c80e;
	font-size: 80%;
}

/* 
p { margin-left: 1em; }

#header h1 {
	margin: 0;
	padding: 0;
	color: #eee;
	font-size: 220%;
	padding-left: 10px;
	letter-spacing: -0.1em;
}

h2 {
	color: #666;
	padding-bottom: 3px;
	border-bottom: 1px solid #a0c80e;
	font-size: 150%;
	letter-spacing: -0.1em;
}
 */